
.div-1 {
    font-weight: BO;
    font-size: 15px;
    color: #002953;
    text-align: center;
    margin-top: 10px;
  margin-bottom: 10px;

  }
  .div-2 {
  
    color: black;
    margin-left: 50px;
    margin-right: 50px;
  font-size: 13px;
  margin-bottom: 30px;
  text-align: center;

}
  .center {
    display: block;
    margin-left: auto;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
  }
  .p2 img 
  {
   
         width: 230px;
         
         background-size: cover;
        margin: 10px;
         align-items: center;
  }
.btn{
    border: orange;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    align-content: center;
    background-color: orange;
    color: white;

  }