

<div class="card-wrapper">

    <mat-card class="example-card">
        <mat-card-content>
          <table>
            <tr>
        <td>  <span class="align-middle">
           
            <div class="p2">
              <img src="assets/images/info.png" alt="p1"></div>
          </span></td>
          <div class="wrapper"> 
        
        <td>  <div class="div-2">Please enter the OTP received on mobile no. or email id or both is basis response in CIBIL API</div>
        </td> </div>
        </tr>
        </table>
        </mat-card-content>
    
      
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          
            <span class="align-middle">
                <div class="p1">
                  <img src="assets/images/otp.png" alt="p1 " class="center"></div>
              </span>
            <div class="div-4">Enter One Time Password (OTP)</div>
            <div class="div-5">Waiting to automatically detect an One Time Password (OTP)</div>
            <span class="align-middle">
            <div id="divOuter">
                <div id="divInner">
                    <input align="center" id="partitioned" type="text" maxlength="6" class="otpInput" />
                </div>
            </div>
            <div class="orange">Resend OTP</div>
            <div class="div-3">In XX:XX</div>
            </span>
            <span class="align-middle">

              <div class="p3">
                <img src="assets/images/bitmap.png" alt="p1 " class="center"></div>
            </span>
        </mat-card-content>
        
    
      
    </mat-card>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-info btn-rounded waves-effect waves-light "(click)="submit()">GET CIBIL SCORE</button>
  </div>
  </div>
  
