
<div class="card-wrapper">

    <mat-card class="example-card">
      <!-- <mat-card-header>
        <img mat-card-avatar style=" width: 42px;height:25px;margin-left: 10px;" src="assets/images/1.png" alt="Angular Logo">

        <mat-card-title><div class="div-1">Ravindra,</div>
          <div class="div-2">Check your CIBIL score for free in just 2 minutes </div> 
        </mat-card-title>
      </mat-card-header> -->
        <mat-card-content>
          <span class="align-middle">
            <div class="p1">
              <img src="assets/images/meter.png" alt="p1"></div>
          </span>
          <div class="wrapper"> 
          <div class="div-1">Hello Ravindra,</div>
          <div class="div-2">Check your CIBIL score for free in just 2 minutes</div>
          </div>
        </mat-card-content>
    
      
    </mat-card>
  
  </div>
  <div class="card-wrapper">

    <mat-card class="example-card">
      <div class="div-3">View your CIBIL score in just 3 step</div>
      <mat-card-content>
        <div class="block">
        <span class="align-middle">  <div class="p2">
          <img src="assets/images/1.png" alt="p2"></div>
        </span>
        
        <div class="wrapper"> 
        <div class="div-1">Enter Your Personal Details</div>
        <div class="div-2">Ensure it matches your ID Proofs</div>
        </div>

      </div>
      <div class="block">
        <span class="align-middle">  <div class="p2">
          <img src="assets/images/2.png" alt="p2"></div>
        </span>
        <div class="wrapper"> 
        <div class="div-1">Verify Your Identity</div>
        <div class="div-2">Confirm the OTP sent on your mobile number and email ID</div>
        </div>
      </div>
      <div class="block">
        <span class="align-middle">  <div class="p2">
          <img src="assets/images/3.png" alt="p2"></div>
        </span>
        <div class="wrapper"> 
        <div class="div-1">View your CIBIL score</div>
        <div class="div-2">Know you CIBIL score</div>
        </div>
      </div>
      
      </mat-card-content>
      
   
    </mat-card>
  

    <div class="d-grid gap-2">
    <button type="button" class="btn btn-info btn-rounded waves-effect waves-light " (click)="submit()">GET CIBIL SCORE</button>
</div>
  </div>
  