
<div class="card-wrapper">

    <mat-card class="example-card">
      <!-- <mat-card-header>
        <img mat-card-avatar style=" width: 42px;height:25px;margin-left: 10px;" src="assets/images/1.png" alt="Angular Logo">

        <mat-card-title><div class="div-1">Ravindra,</div>
          <div class="div-2">Check your CIBIL score for free in just 2 minutes </div> 
        </mat-card-title>
      </mat-card-header> -->
        <mat-card-content>
          <div class="wrapper"> 
          <div class="div-1">Hello Ravindra,</div>
          <div class="div-2">Congratulations! You CIBIL score is generated. </div>
          </div>
        </mat-card-content>
    </mat-card>
  
  </div>
  <div class="card-wrapper">

    <mat-card class="example-card">
      <div class="div-3">Your CIBIL Score</div>
      <div class="center">
        <div class="box">

        <div style="position: relative; left: 0;right: 0; top: 0;">
          <img src="assets/images/sk1.png"  class="img1" >
          <img src="assets/images/sk2.png"  class="img2" style="transform:rotate(0deg)">
          <div class="score">800</div>
        </div>
</div>
      <div class="div-2">Score as on 12/04/2020</div></div>
      <mat-card-content>
  
      </mat-card-content>
      
   
    </mat-card>

  </div>
  <div class="card-wrapper">

    <mat-card class="example-card">
      <div class="div-3">Your Credit score is FAIR</div>
      <div class="div-22">You can get your personalised detailed Credit Health Report now.</div>
      <div class="div-22">See your credit score, understand your credit profile and learn how you can maintain it with your personlised Credit Health Report</div>
      <mat-card-content>
       
      <table>
      
        <tr valign="middle">
          <td> <span class="align-top">  <div class="p2">
          <img src="assets/images/presentation.png" alt="p2"></div>
        </span></td>
          <td> 
            <div class="div-i">Your detailed credit profile</div>
           
           
    </td>
        
        </tr>
        <tr valign="middle">
            <td> <span class="align-middle">  <div class="p3">
            <img src="assets/images/meter2.png" alt="p2"></div>
          </span></td>
            <td> 
              <div class="div-i">Complete analysis of your score</div>
             
      </td>
          
          </tr>
          <tr valign="middle">
            <td> <span class="align-middle">  <div class="p2">
            <img src="assets/images/per.png" alt="p2"></div>
          </span></td>
            <td> 
              <div class="div-i">Personalized offers on our products</div>
             
      </td>
          
          </tr>
          <tr valign="middle"> 
            <td> <span class="align-middle">  <div class="p2">
            <img src="assets/images/idea.png" alt="p2"></div>
          </span></td>
            <td>
              <div class="div-i">Suggestions on good Credit practices</div>
             
      </td>
          
          </tr>
      </table>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-info btn-rounded waves-effect waves-light " (click)="submit()" >GET FULL REPORT FOR <div class="litext">₹599</div> ₹199*</button>
    </div>
    <div class="div-23">
      *67% discount offer on this product. Price is inclusive of all taxes.
      <div class="div-24">
        By clicking on 'Get Full Report' you agree to
        <div class="orange">Credit Health Report Terms & Conditions</div>
    </div>
    </div>
   
      </mat-card-content>
      
   
    </mat-card>
    <mat-card class="mat-card2">
    
        <mat-card-content>
          <div class="wrapper"> 
          <div class="div-1">Refer A Friend</div>
          <div class="div-2">Refer a Friend and earn 500 reward points</div>
          </div>
          <button type="button" class="btn2 btn-info btn-rounded waves-effect waves-light " >Refer Now</button>
          <button type="button" class="btn3 btn-info btn-rounded waves-effect waves-light " >Know More</button>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">

        <mat-card-content>
        
          <div class="wrapper"> 
            <div class="p1"><img src="assets/images/dropdown.png" alt="p1"></div>

          <div class="div-1">Frequently asked questions</div>
          <span class="align-middle">
          </span>

          </div>

          
        </mat-card-content>
    
      
    </mat-card>
  

   
  </div>
  