   <div class="neo">
       <div class="center">
    <div class="neo2"><img style="padding-top: 0%;" src="assets/images/tick.png" ></div>
  <div class="d1">  Congratulations</div>
  <div class="d2"> Your Credit Health Report has been successfully generated</div>
</div>
   </div>

  <div class="card-wrapper">

    <mat-card class="example-card">
      <div class="div-3">Your CIBIL Score</div>
      <div class="center">
        <div class="box">

        <div style="position: relative; left: 0;right: 0; top: 0;">
          <img src="assets/images/sk1.png"  class="img1" >
          <img src="assets/images/sk2.png"  class="img2" style="transform:rotate(0deg)">
          <div class="score">800</div>
        </div>
</div>
      <div class="div-2">Score as on 12/04/2020</div></div>
      <mat-card-content>
  
      </mat-card-content>
      
   
    </mat-card>

  </div>
  <div class="card-wrapper">

    <mat-card class="example-card">
      <div class="div-3">Your credit health report is ready</div>
      <div class="div-22">Your report is also shared on your email address</div>
      <mat-card-content>
       
        <mat-card class="mat-card3">
          
              <table class="space">           
                <tr>
                  <td><div class="p4"><img src="assets/images/checklist.png" alt="p4"></div>
                  </td>
      
                    <td><div class="div-22">Credit Health Report</div>
                </td>
                
            <td><div class="p4"><img src="assets/images/share.png" alt="p5"></div>
           </td>
           <td> <button type="button" class="btn4 btn-info btn-rounded waves-effect waves-light "(click)="openBottomSheet()" >
            <div class="p6"><img src="assets/images/dwn.png" alt="p5"></div>Download</button>
           </td>
                
      
  </tr>
            </table>
        

        </mat-card>
   
      </mat-card-content>
      
   
    </mat-card>
    <mat-card class="mat-card2">
    
        <mat-card-content>
          <div class="wrapper"> 
          <div class="div-1">Refer A Friend</div>
          <div class="div-2">Refer a Friend and earn 500 reward points</div>
          </div>
          <button type="button" class="btn2 btn-info btn-rounded waves-effect waves-light " >Refer Now</button>
          <button type="button" class="btn3 btn-info btn-rounded waves-effect waves-light " >Know More</button>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">

        <mat-card-content>
        
          <div class="wrapper"> 
            <div class="p1"><img src="assets/images/dropdown.png" alt="p1"></div>

          <div class="div-1">Frequently asked questions</div>
          <span class="align-middle">
          </span>

          </div>

          
        </mat-card-content>
    
      
    </mat-card>
    <mat-card class="example-card">

      <mat-card-content>
      
        <div class="wrapper"> 

        <div class="div-1">Pre-approved offers for you</div>
        <span class="align-middle">
        </span>

        </div>

        
      </mat-card-content>
  
    
  </mat-card>
  <div class="d-grid gap-2">
  <button type="button" class="btn btn-info btn-rounded waves-effect waves-light ">DONE</button>
</div>
   
  </div>
  